@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-8">

        <div class="university-info-banner d-flex justify-content-between align-items-center mt-4">
            <div class="info-banner-title">
                <h2 class="text-white">Latest Covid-19 Information</h2>
            </div>
            <div class="banner-button">
                <button class="btn btn-blue text-light"> Covid-19 Updates</button>
            </div>
        </div>

        <div id="carouselExampleControls" class="carousel slide mt-4" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://www.byui.edu/images/home_page/Ready%20Round%207/7-Welding-Real-World%20HOME.jpg" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="https://www.byui.edu/images/home_page/Ready%20Round%207/Teachers-GraphicDesign-desktop.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.byui.edu/images/home_page/Ready%20Round%207/7-Livestock_WebAds-High-Value2%20HOME.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="d-flex align-items-center justify-content-between mt-4">

            <div class="card" style="width: 15rem;">
                <img src="https://www.byui.edu/images/homepage-main/pagebuilder/CampusVideos.jpg" class="card-img-top" alt="image">
                <div class="card-body">
                    <p class="card-text">Campus Videos > .</p>
                </div>
            </div>
            <div class="card" style="width: 15rem;">
                <img src="https://www.byui.edu/images/homepage-main/pagebuilder/PhotoGallery%280%29.jpg" class="card-img-top" alt="image">
                <div class="card-body">
                    <p class="card-text">Photo Gallery ></p>
                </div>
            </div>
            <div class="card" style="width: 15rem;">
                <img src="https://www.byui.edu/images/homepage-main/pagebuilder/ExploreCampus.jpg" class="card-img-top" alt="image">
                <div class="card-body">
                    <p class="card-text">Explore Campus > </p>
                </div>
            </div>
        </div>
        <hr />

        <article class="mt-4">
            <div class="row">
                <div class="col-md-3">
                    <img src="https://www.byui.edu/images/newsroom/Fall%20Semester%202021.jpg" class="img-fluid" />
                </div>
                <div class="col-md-9">
                    <small>@DateTime.Now.ToLongDateString()</small>
                    <h5>Contoso University to be fully Open Fall Semster</h5>
                    <p>The Latest information regarding BYU-Idaho's plans for Fall Semester. 2021</p>
                </div>
            </div>
            <hr />
            <div class="row mt-2">
                <div class="col-md-3">
                    <img src="https://www.byui.edu/images/newsroom/Spring%202021%20Enrollmen.jpeg" class="img-fluid" />
                </div>
                <div class="col-md-9">
                    <small>@DateTime.Now.ToLongDateString()</small>
                    <h5>Contoso University enrollment continues steady, upward growth </h5>
                    <p>Spring 2021 enrollment statistics released.</p>
                </div>
            </div>

            <hr />
            <div class="row mt-2">
                <div class="col-md-3">
                    <img src="https://www.byui.edu/images/newsroom/byui%20winter%202021%20enrollment%20web.jpg" class="img-fluid" />
                </div>
                <div class="col-md-9">
                    <small>@DateTime.Now.ToLongDateString()</small>
                    <h5>Contoso University Students Persists amid Pandemic </h5>
                    <p>Contoso University is working to foster a culture where faculty can actively engage in inspired inquiry, innovation, and collaboration with one another..</p>
                </div>
            </div>
        </article>

    </div>



    <div class="col-md-4 mt-4">

        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                Resources
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex  justify-content-between">
                <span class="text-blue">
                    Apply Now
                </span>
                <span class="text-blue">></span>
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">
                <span class="text-blue">
                    Financial Aid
                </span>
                <span class="text-blue">></span>

            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">
                <span class="text-blue">
                    Degrees and Programs
                </span>

                <span class="text-blue">></span>

            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">
                <span class="text-blue">
                    Student Housing
                </span>

                <span class="text-blue">></span>
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">
                <span class="text-blue">
                    Tuition and Fees
                </span>
                <span class="text-blue">></span>
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">
                <span class="text-blue">
                    Academic Deadlines
                </span>

                <span class="text-blue">></span>
            </a>

        </div>

        <div class="list-group mt-4">
            <a href="#" class="list-group-item list-group-item-action active-2nd" aria-current="true">
                Important Dates
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex  justify-content-between">
                <span class="text-dark ">
                    Devotional - Scott Johnson
                </span>
                <span class="text-blue">June 10</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">
                <span class="text-dark">
                    Devotional - Jennier Jones
                </span>
                <span class="text-blue">June 29 </span>

            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">
                <span class="text-dark">
                    Commencement
                </span>

                <span class="text-blue">July 21</span>

            </a>


        </div>

        <div class="card mt-5" style="width: 22rem;">
            <img src="https://www.byui.edu/images/1%20-%20Ad%20Manager/Evergreen/Ready_Potential9.jpg" class="card-img-top" alt="image">
            <div class="card-body">
                <p class="card-text">Realize your Potential.</p>
            </div>
        </div>

    </div>
</div>